@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= visualize ==============================================//
//---------------------------------------------------------------------------------------------//

#visualize {
  @extend .parent;
  @extend .margin-global;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
