@use "@/assets/styles/main" as *;
//---------------------------------------------------------------------------------------------//
//======================================== forgot password ==============================================//
//---------------------------------------------------------------------------------------------//

#forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(612px, 100%);
  margin-inline: auto;
  min-height: 100dvh;
  @include media(max, small) {
    padding-inline: var(--margin-global);
  }

  form {
    width: min(470px, 100%);
    display: flex;
    flex-direction: column;
  }

  a, label {
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
  }
}


.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Ajusta la altura según sea necesario */
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.link {
  cursor: pointer;
  color: blue; /* Puedes personalizar el color del enlace */
  text-decoration: underline; /* Puedes personalizar la decoración del enlace */
}

.hidden {
  display: none;
}