@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= eggs exit ==============================================//
//---------------------------------------------------------------------------------------------//

#eggs-exit {
  @extend .parent;
  @extend .margin-global;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
