@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= farm-inspection ==============================================//
//---------------------------------------------------------------------------------------------//

#farm-inspection {
  @extend .parent;
  @extend .margin-global;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
