@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= vaccination records ==============================================//
//---------------------------------------------------------------------------------------------//

#vaccination-records {
  @extend .parent;
  @extend .margin-global;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--h-navbar) - 16px);
}
